
@{
    ViewData["Title"] = "Admin";
}

<h1>@ViewData["Title"]</h1>
<p>Welcome To Admin Page</p>
<p>Go To <a href="/Manager/List">Manager</a> Dashbored</p>
<p>Go To <a href="/Admin/List">Admin</a> Dashbored</p>
<p><a href="/Account/Logout">Log Out</a></p>

