@model company.Models.UsersSec.PasswordView

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<h4>PasswordView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control passKey" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control passKey newpassKey" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RetypePassword" class="control-label"></label>
                <input asp-for="RetypePassword" class="form-control passKey RetypepassKey" />
                <span asp-validation-for="RetypePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>

    var form = document.querySelector("form");
    form.onsubmit = function (e) {
        debugger;
        var passkeys = document.getElementsByClassName("passKey");
        var counter = 0;
        for (var i = 0; i < passkeys.length; i++) {
            if (passkeys[i].value.length > 0) {
                counter++;
            }
            else {
                passkeys[i].nextElementSibling.innerText = "Doesn't Accept Null Value"
            }
        }
        if (counter == passkeys.length) {
            var passkey = document.querySelector("newpassKey");
            var confirm = document.querySelector("RetypepassKey");
            if (passkey.value != confirm.value) {
                e.preventDefault();
                confirm.nextElementSibling.innerText = "Detect That Equals The Password.";
            }
        }
        else {
            e.preventDefault();
        }
    }


</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>


