
@{
    ViewData["Title"] = "ResetPasswordCongirmation";
}

<h1>Reset Password Congirmation</h1>
<p>You Have Reset Your Password Successfully, You Can <a href="/account/loginrememberme">Login</a> Again</p>

